Options -Indexes

RewriteEngine on
RewriteRule ^utilisateur/([0-9a-zA-Z]+)$ 						index.php?type=principal&page=utilisateur&id=$1 [L]
RewriteRule ^utilisateur/([0-9a-zA-Z]+)/page-([0-9]+)$			index.php?type=principal&page=utilisateur&id=$1&p=$2 [L]
RewriteRule ^video/([0-9a-zA-Z]+)$								index.php?type=principal&page=video&id=$1 [L]
RewriteRule ^video/([0-9a-zA-Z]+)/comment-([0-9]+)$				index.php?type=principal&type=&page=video&id=$1&c=$2 [L]
RewriteRule ^video/edit/([0-9a-zA-Z]+)$ 						index.php?type=video&page=edit&id=$1 [L]
RewriteRule ^video/remove/([0-9a-zA-Z]+)$ 						index.php?type=video&page=remove&id=$1 [L]
RewriteRule ^video/add/$										index.php?type=video&page=add [L]
RewriteRule ^user/$												index.php?type=user [L]
RewriteRule ^user/inscription/$									index.php?type=user&page=inscription [L]
RewriteRule ^user/inscription/erreur-([0-9]+)$					index.php?type=user&page=inscription&erreur=$1 [L]
RewriteRule ^user/connexion/$									index.php?type=user&page=connexion [L]
RewriteRule ^user/connexion/erreur-([0-9]+)$					index.php?type=user&page=connexion&erreur=$1 [L]
RewriteRule ^user/deconnexion/$									index.php?type=user&page=deconnexion [L]
RewriteRule ^user/changepw/$									index.php?type=user&page=changepw [L]
RewriteRule ^user/changepw/erreur-([0-9]+)$						index.php?type=user&page=changepw&erreur=$1 [L]
RewriteRule ^user/avatar/add/$									index.php?type=user&page=addavatar [L]
RewriteRule ^user/avatar/add/erreur-([0-9]+)$					index.php?type=user&page=addavatar&erreur=$1 [L]
RewriteRule ^user/avatar/edit/$									index.php?type=user&page=editavatar [L]
RewriteRule ^user/avatar/delete/$								index.php?type=user&page=delavatar [L]
RewriteRule ^user/editbio/$										index.php?type=user&page=editbio [L]
RewriteRule ^user/like/$										index.php?type=user&page=like [L]
RewriteRule ^user/comment/$										index.php?type=user&page=comment [L]
RewriteRule ^admin/$											index.php?type=admin [L]
RewriteRule ^admin/options/$									index.php?type=admin&page=panel&sousPage=options [L]
RewriteRule ^admin/users/$										index.php?type=admin&page=panel&sousPage=users [L]
RewriteRule ^admin/users/page-([0-9]+)$							index.php?type=admin&page=panel&sousPage=users&p=$1 [L]
RewriteRule ^admin/users/add/$									index.php?type=admin&page=edit&sousPage=adduser [L]
RewriteRule ^admin/users/add/erreur-([0-9]+)$					index.php?type=admin&page=edit&sousPage=adduser&erreur=$1 [L]
RewriteRule ^admin/users/edit/$									index.php?type=admin&page=edit&sousPage=edituser [L]
RewriteRule ^admin/users/edit/([0-9]+)$							index.php?type=admin&page=edit&sousPage=edituser&id=$1 [L]
RewriteRule ^admin/users/edit/([0-9]+)/erreur-([0-9]+)$			index.php?type=admin&page=edit&sousPage=edituser&id=$1&erreur=$2 [L]
RewriteRule ^admin/users/delete/$								index.php?type=admin&page=edit&sousPage=deluser [L]
RewriteRule ^admin/users/delete/([0-9a-zA-Z]+)$					index.php?type=admin&page=edit&sousPage=deluser&id=$1 [L]
RewriteRule ^admin/statuts/$									index.php?type=admin&page=panel&sousPage=statuts [L]
RewriteRule ^admin/statuts/page-([0-9]+)$						index.php?type=admin&page=panel&sousPage=statuts&p=$1 [L]
RewriteRule ^admin/statuts/add/$								index.php?type=admin&page=edit&sousPage=addstatut [L]
RewriteRule ^admin/statuts/add/erreur-([0-9]+)$					index.php?type=admin&page=edit&sousPage=addstatut&erreur=$1 [L]
RewriteRule ^admin/statuts/edit/([0-9a-zA-Z]+)$					index.php?type=admin&page=edit&sousPage=editstatut&id=$1 [L]
RewriteRule ^admin/statuts/edit/([0-9a-zA-Z]+)/erreur-([0-9]+)$	index.php?type=admin&page=edit&sousPage=editstatut&id=$1&erreur=$2 [L]
RewriteRule ^admin/statuts/delete/([0-9a-zA-Z]+)$				index.php?type=admin&page=edit&sousPage=delstatut&id=$1 [L]
RewriteRule ^install/dbconnect/$								install/index.php?page=dbconnect [L]
RewriteRule ^install/dbconnect/erreur-([0-9]+)$					install/index.php?page=dbconnect&erreur=$1 [L]
RewriteRule ^install/options/$									install/index.php?page=options [L]
RewriteRule ^install/adminuser/$								install/index.php?page=adminuser [L]
RewriteRule ^page-([0-9]+)$										index.php?page=timeline&p=$1 [L]

ErrorDocument 404 /c/404.php